<section id="rorBanner" class="banner">
    <div class="banner-heading text-title augustus">
        THE REPUBLIC OF ROME
    </div>
    <div class="banner-text text-sub-heading">
        A web based version of the classic Avalon Hill board game.
    </div>
</section>
